
/* Left Sidebar */
#sidebar-first .block-menu {
  border: 1px solid #ccc;
}

#sidebar-first .block-menu h2 {
  font-size: .9rem;
  font-weight: bold;
}

#sidebar-first .block-menu ul li,
#sidebar-first .block-menu ul {
  list-style: none none;
  padding: 0;
  margin: 0;
}
#sidebar-first .block-menu ul li ul li {
  background: #ccc;
  padding: .1em;
}
#sidebar-first .block-menu ul li ul {
  padding-left: 1em;
}